LogicApp/template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflowName": {
      "type": "string",
      "defaultValue": "AiHunt"
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "notificationEmail": {
      "type": "string",
      "metadata": {
        "description": "Email address to send hunting reports"
      }
    },
    "securityCopilotConnectionName": {
      "type": "string",
      "defaultValue": "securitycopilot-conn"
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365-conn"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('securityCopilotConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Security Copilot Connection",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Connection",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflowName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('securityCopilotConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Week",
                "interval": 1
              }
            }
          },
          "actions": {
            "Hunt_Solorigate_Pipe": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "PromptContent": "run plugin agent hunt solorigate pipe detection",
                  "SkillName": "AgentHuntSolorigatePipeDetection"
                },
                "path": "/process-prompt"
              },
              "runAfter": {}
            },
            "Determine_Interest": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "PromptContent": "/askgpt reason over the findings. Respond 'yes' if interesting, 'no' if not.",
                  "SessionId": "@body('Hunt_Solorigate_Pipe')?['sessionId']"
                },
                "path": "/process-prompt"
              },
              "runAfter": {
                "Hunt_Solorigate_Pipe": [
                  "Succeeded"
                ]
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@trim(toLower(body('Determine_Interest')?['EvaluationResultContent']))",
                      "yes"
                    ]
                  }
                ]
              },
              "actions": {
                "Build_Report": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "PromptContent": "/askgpt Generate concise HTML summary of Solorigate findings for email.",
                      "SessionId": "@body('Hunt_Solorigate_Pipe')?['sessionId']"
                    },
                    "path": "/process-prompt"
                  }
                },
                "Send_an_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "[parameters('notificationEmail')]",
                      "Subject": "Weekly Sentinel Hunting Report",
                      "Body": "<p>@{body('Build_Report')?['EvaluationResultContent']}</p>",
                      "Importance": "Normal"
                    },
                    "path": "/v2/Mail"
                  },
                  "runAfter": {
                    "Build_Report": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Determine_Interest": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "securitycopilot": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('securityCopilotConnectionName'))]",
                "connectionName": "[parameters('securityCopilotConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/securitycopilot')]"
              },
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('workflowName')]"
    }
  }
}
